<div class="container login-container">
    <div class="row">
        <div class="col-8 offset-2 login">
            <h2 class="login-title">Inicia Sesión</h2>
            <form class="login-form">
                <input type="text" placeholder="Usuario">
                <input type="text" placeholder="Contraseña">
                <a href="#" id="iniciar">Inciar Sesión</a>
                <br>
                <a href="/registro" id="cuenta">¿No tienes cuenta?</a>
            </form>
        </div>
    </div>
</div>