/* FOOTER */
.footer-bg{
	width: 							100%;
	height: 						auto;
	background: 					#72DFF8;
	padding-top: 					60px;
	padding-bottom: 				50px;
	text-align: 					center;
}
.footer-bg img{
	margin-bottom: 					50px;
}
.footer-bg a{
	font-weight: 					400;
	font-size: 						27px;
	text-decoration: 				none!important;
	color: 							black;
}
.footer-bg a:hover{
	color: 							white;
}

@media screen and (max-width: 991px)
{
	.footer-bg{
		padding:		 			25px 0;
	}
	.footer-bg img{
		margin-bottom: 				10px;
	}
	.footer-bg a{
		font-size: 					18px;
	}
}