<div class="container registro-container">
    <div class="row">
        <div class="col-8 offset-2 registro">
            <h2 class="registro-title">Regístrate</h2>
            <form class="registro-form">
                <input type="text" placeholder="Correo">
                <input type="text" placeholder="Contraseña">
                <input type="text" placeholder="Confirmar contraseña">
                <div class="nombres">
                    <input id="nombre" type="text" placeholder="Nombre">
                    <input type="text" placeholder="Apellido">
                </div>
                <input type="text" placeholder="Teléfono">
                <a href="#">Registrarse</a>
            </form>
        </div>
    </div>
</div>