/* NAVBAR */
nav{
	background: 					linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
	height: 						auto;
	padding: 						10px 0;
	width: 							100%;
	position: 						absolute;
}
nav > div > div{
	display: 						flex;
}
.logo-nav img{
	width: 							100%;
}
.links-container{
	text-align: 					left;
	margin-bottom: 					0;
}
.nav-links{
	display: 						inline-block;
	position: 						relative;
	list-style: 					none;
	margin-left: 					5px;
	margin-right: 					5px;
	top: 							50%;
	transform: 						translateY(-50%);
}
.nav-links a{
	font-size: 						18px;
	text-decoration: 				none;
	color: 							white;
}
.nav-links a:hover{
	color: 							#72DFF8;
}
.login-btn{
	text-decoration: 				none;
	color: 							white;
	background: 					#72DFF8;
	border-radius: 					50px;
	padding: 						10px 71px;
	font-size: 						21px;
	font-weight: 					400;
}
.login-btn:hover{
	background: 					white;
	color: 							#72DFF8;
}

@media screen and (max-width: 991px)
{
	.nav-row{
		justify-content: 			center;
	}
	.logo-nav{
		text-align: 				center;
	}
}