<!-- NAVBAR -->
<nav>
    <div class="container">
        <div class="row nav-row">
            <!-- logo -->
            <a href="#" class="col-md-2 col-6 logo-nav">
                <img src="../../../assets/imgs/logo.png" alt="logo-fixyou">
            </a>
            <!-- links -->
            <ul class="col-md-8 d-md-block d-none links-container">
                <li class="nav-links"><a href="#">Servicios</a></li>
                <li class="nav-links"><a href="#">Contacto</a></li>
            </ul>
            <!-- login -->
            <a class="login-btn d-md-block d-none col-md-2">Login</a>
        </div>
    </div>
</nav>
