<div class="container pago-container">
    <div class="row">
        <!-- CONTENEDOR REGISTRO -->
        <div class="col-md-8 offset-md-2 pago">
            <h2>Pago</h2>
            <!-- TARJETA -->
            <form class="tarjeta">
                <!-- CVV -->
                <div class="tarjeta-top">
                    <input type="text" placeholder="CVV">
                </div>
                <!-- MEDIO -->
                <div class="tarjeta-mid">
                    <input type="text" placeholder="Nombre de titular">
                    <input type="text" placeholder="Fecha de vencimiento">
                </div>
                <!-- ABAJO -->
                <div class="tarjeta-bottom">
                    <input type="text" placeholder="Número de tarjeta">
                </div>
            </form>
            <!-- BOTON PAGAR -->
            <a href="#">Pagar</a>
        </div>
    </div>
</div>