<div class="container servicios-container">
    <div class="row">
        <!-- CONTENEDOR DE SERVICIOS -->
        <div class="col-md-12 col-12 servicios">

            <!-- REPARACION -->
            <div class="servicio">
                <img src="../../../assets/imgs/Image_6.jpg" alt="Reparación">
                <!-- NOMBRE DE SERVICIO -->
                <h2>Instalación</h2>
                <h3>¡Instala tu electrodoméstico!</h3>
                <a href="/reservacion">Reservar</a>

            </div>
            <!-- INSTALACION -->
            <div class="servicio">
                <img src="../../../assets/imgs/Image_2.png" alt="Reparación">
                <!-- NOMBRE DE SERVICIO -->
                <h2>Reparación</h2>
                <h3>¡Repara tu electrodoméstico!</h3>
                <a href="/reservacion">Reservar</a>

            </div>
            <!-- SERVICIO -->
            <div class="servicio">
                <img src="../../../assets/imgs/Image_4.png" alt="Reparación">
                <!-- NOMBRE DE SERVICIO -->
                <h2>Mantenimiento</h2>
                <h3>¡Dale mantenimiento a tu electrodoméstico!</h3>
                <a href="/reservacion">Reservar</a>
            </div>

        </div>
    </div>
</div>