<div class="container reservacion-container">
    <div class="row">
        <!-- CONTENEDOR RESERVACION -->
        <div class="col-md-8 offset-md-2 reservacion">
            <h2>Información del Servicio</h2>
            <!-- INFO RESERVACION -->
            <div class="reservacion-info">
                <h3 class="reservacion-tipo">Número de reservación:</h3>
                <h3>65165498165-165165-616516</h3>
            </div>
            <!-- INFO RESERVACION -->
            <div class="reservacion-info">
                <h3 class="reservacion-tipo">Tipo de servicio:</h3>
                <h3>Reparación</h3>
            </div>
            <!-- INFO RESERVACION -->
            <div class="reservacion-info">
                <h3 class="reservacion-tipo">Técnico:</h3>
                <h3>Ilian Chavez</h3>
            </div>
            <!-- INFO RESERVACION -->
            <div class="reservacion-info">
                <h3 class="reservacion-tipo">Fecha y hora:</h3>
                <h3>Oct 27, 5:00PM</h3>
            </div>
            <!-- BOTON CONFIRMAR -->
            <a href="/pago" class="confirmar">Confirmar</a>
        </div>
    </div>
</div>