<!-- MAIN BANNER -->
<div class="container-fluid main-banner-container">
    <div class="row banner-row">
        <div class="banner-title">
            <h1>TE LA DEJAMOS COMO NUEVA</h1>
        </div>
    </div>
</div>

<!-- ABOUT -->
<div class="container-fluid about-container">
    <div class="row about-row">
        <div class="about-title">
            <h2>ACERCA DE NOSOTROS</h2>
        </div>
        <div class="about-subt">
            <p>Creado en 2022, Fix you es una compañia que ofrece sus servicios de reparación de alta calidad. Ofrecemos servicios como reparación de lavadoras, secadoras, refrigeraciones y baños. Se puede agendar una cita rapida y eficazmente para que no tengas que batallar para encontar una reparación imediata.</p>
        </div>
    </div>
</div>

<!-- TECNICOS -->
<div class="tecnicos-bg">
    <div class="container tecnicos-container">
        <div class="row tecnicos-row">
            <div class="col-md-8 offset-md-2 col-12 tecnicos-title">
            <h2>Conoce a nuestros técnicos</h2>
            </div>
            <div class="col-md-12 col-12 tecnicos-swiper">
                <swiper
                      [slidesPerView]="1"
                      [spaceBetween]="10"
                    >
                      <ng-template swiperSlide><img src="../../../assets/imgs/tecnico1.jpg" alt=""></ng-template>
                      <ng-template swiperSlide><img src="../../../assets/imgs/tecnico2.jpg" alt=""></ng-template>
                      <ng-template swiperSlide><img src="../../../assets/imgs/tecnico3.jpg" alt=""></ng-template>
                      <ng-template swiperSlide><img src="../../../assets/imgs/tecnico4.jpg" alt=""></ng-template>
                </swiper>
            </div>
        </div>
    </div>
</div>

<!-- CONTRATAR -->
<div class="container">
    <div class="row contratar-row">
        <div class="col-md-8 offset-md-2 col-12 contratar-title">
            <h2>CONTRATA NUESTROS SERVICIOS</h2>
        </div>
        <div class="col-md-4 offset-md-4 col-6 offset-3 contratar-btn">
            <a href="#">CONTRATAR</a>
        </div>
    </div>
</div>

<!-- FORM	 -->
<div class="form-background">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 form-title">
                <h2>¿TIENES UNA PREGUNTA?</h2>
            </div>
            <div class="col-md-2 offset-md-5 form-subtitle">
                <h3>¡contáctanos!</h3>
            </div>
        </div>
        <div class="row form-row">
            <div class="nombres">
                <div class="form-slim form-input">
                    <p>Nombre</p>
                </div>
                <div class="form-slim form-input">
                    <p>Apellido</p>
                </div>
            </div>
            <div class="col-md-12 form-slim form-input">
                <p>Correo</p>
            </div>
            <div class="col-md-12 form-msj form-input">
                <p>Mensaje</p>
            </div>
            <div class="form-btn">
                <a href="#">ENVIAR</a>
            </div>
        </div>
    </div>
</div>